{% extends 'base.html' %}
{% block title %}Контакты{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center mt-4">Контакты</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi saepe fugiat qui, 
        repellendus ipsum facere tempore incidunt unde architecto nesciunt aperiam, consectetur ducimus nihil quam 
        et assumenda, aut aliquid. Amet atque perspiciatis, architecto repudiandae praesentium hic! Natus 
        praesentium ipsum, maiores earum molestias repudiandae necessitatibus ab fugit similique impedit, 
        cupiditate modi officiis ut reiciendis suscipit provident illo dolor! Accusamus, repellat corporis.
    </p>
    <img src="https://mobimg.b-cdn.net/v3/fetch/b1/b1886580666fa105ebcbdeeeadbeb38c.jpeg?w=1470&r=0.5625" alt="" class="img-fluid">
    <p class="mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis corrupti necessitatibus
         repellat harum aperiam alias suscipit, ab ipsum sed excepturi.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, ipsam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quaerat aut obcaecati 
        culpa quo deleniti tenetur laudantium, veritatis enim consequuntur, voluptatum laboriosam assumenda 
        ipsam sit et nesciunt quibusdam adipisci dignissimos ipsum necessitatibus voluptates omnis placeat. 
        Enim perspiciatis dolor aliquam quasi!
    </p>
</div>
{% endblock %}